#mymap {
    height: 30rem;
    width: 50rem;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: invert(90%) hue-rotate(180deg) brightness(100%) contrast(90%);
}