@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

html {
    scrollbar-width: none;
}

body {
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
}

/* HEADER */
header {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 80%;
    margin: 0;
    text-align: center;
    background: -webkit-linear-gradient(60deg, #C59FFE, #F47797);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-weight: lighter;
    font-size: 2rem;
    text-align: center;
    color: white;
}

header>div {
    padding-left: 1rem;
    width: 10%;
    display: flex;
}

/* HEADER */

/* MAIN */
main {
    padding: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    width: 80%;
    height: calc(100vh - 11rem);
    background: linear-gradient(90deg, #F47594 0%, #C49FFF 100%);
    box-shadow: 0px 4px 28.4px rgba(63, 63, 63, 0.49);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;

}

.containerLeft {
    width: 48%;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

}

.containerLeft .text {
    position: absolute;
    top: 10%;
}

.containerLeft .textShadow {
    position: absolute;
    top: 12%;
    font-weight: lighter;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    opacity: 0.2;
}

.containerLeft .year {
    position: absolute;
    bottom: 10%;

}

.containerLeft>img {
    width: 60%;
}

.containerRight {
    width: 50%;
    height: 98%;
    background: rgba(0, 0, 0, 0.32);
    border-radius: 20px;
    position: absolute;
    right: .5%;
    transition: 0.3s;
}

.containerRightActive {
    width: 65%;
}



#mymap {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    z-index: 1;
}

.searchButton {
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    right: 1rem;
    top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.searchButtonMobile {
    display: none;
}

.searchButton ion-icon {
    color: #ffffff;
    font-size: 1.5rem;
}

.fullMap {
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    right: 1rem;
    bottom: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fullMap ion-icon {
    color: #ffffff;
    font-size: 1.5rem;
}


.card {
    width: 35%;
    height: 98%;
    left: 50%;
    border-radius: 16px 0 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: rgba(17, 17, 17, 0.9);
    transition: 0.3s;
    overflow-y: scroll;
    scrollbar-width: none;
}

.cardActive {
    left: 0.5%;
}

.research {
    width: 80%;
    border-radius: 1rem;
    margin: 2rem 1rem 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.research input {
    width: 85%;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
}

.research .iconBtn {
    margin-right: .3rem;
    display: flex;
    align-items: center;
}

.research .iconBtn div {
    height: 2rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.research .iconBtn button {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    margin: 0;
    border-radius: 2rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C9C9C9;
}

.iconBtn>button>ion-icon {
    font-size: 100%;
}

.allSearch {
    width: 80%;
    margin-top: .2rem;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.allSearch .sportImg {
    border-radius: 10rem;
}

.allSearch .sportImg>img {
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;
}

.allSearch .infos {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infos .sportName {
    width: 90%;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.infos .sportPlace {
    width: 90%;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}

.infos .locationTime {
    width: 90%;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}

.leaflet-map-pane.inmove {
    transition: .3s;
}

/* MAIN */

/* FOOTER */

footer {
    height: 3.5rem;
    padding: 0 .5rem 0 .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(60deg, #8F4356, #6D5590);
}

footer>h2 {
    margin: 0;
    font-size: 1.3rem;
}

footer>img {
    height: 3rem;
}

.logoFooter {
    height: 1.5rem;
    margin-right: 1rem;
}

.olympiquesLogo {
    display: none;
    position: absolute;
    bottom: 2%;
}


/* FOOTER */



/* MEDIA QUERIE */

@media screen and (max-width: 1024px) {
    .mainContainer {
        width: 95%;
    }

    .cardActive {
        width: 35%;
    }

    .containerRight {
        width: 50%;
    }

    .containerRightActive {
        width: 65%;
    }
}

@media screen and (max-width: 820px) {
    header {
        display: none;

    }

    main {
        padding: 0;
    }

    .mainContainer {

        height: 98vh;
        margin-top: 1vh;
        flex-direction: column;
    }

    .containerLeft {
        justify-content: flex-start;
    }

    .card {
        width: 99%;
        height: 35%;
        left: 0.5%;
        top: 30%;
        border-radius: 20px;
    }

    .cardActive {
        width: 99%;
        height: 45%;
        top: 0;
    }

    .containerRight {
        width: 99%;
        height: 60%;
        bottom: 10%;
    }

    .fullMap {
        display: flex;
    }

    .containerRightActive {
        width: 99%;
        height: 60%;
        bottom: 0%;
    }

    .containerRightActiveFull {
        height: 98%;
        bottom: 1%;
    }

    .searchButton {
        display: none;
    }

    .searchButtonMobile {
        height: 3rem;
        width: 3rem;
        border-radius: 3rem;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
        right: 1rem;
        bottom: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .searchButtonMobile ion-icon {
        color: #ffffff;
        font-size: 1.5rem;
    }

    .containerLeft .year {
        position: absolute;
        top: 22%;
    }

    .containerLeft .textShadow {
        font-size: 2rem;
    }

    footer {
        display: none;
    }

    .olympiquesLogo {
        display: block;

    }
}

/* MEDIA QUERIE */